<ul>
  <li *ngFor="let item of questions; let i = index">
    {{ item.id }}
    <button (click)="edit(item.id)">Edit</button>
    <button (click)="available(item.id)">Make Available</button>
    <!-- <button (click)="remove(item.id)">X</button> -->
    {{ item.details }} {{ item.creator }}
  </li>
</ul>
<!-- <button data-toggle="modal" data-target="#newQModal" #showModalButton>Create a new question!</button> -->
<button (click)="create()">Create a new Question!</button>
<button data-toggle="modal" data-target="#newQModal" style="display: none" #showModalButton >
  Create a new question!
</button>

<div class="modal" id="newQModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="questionForm" (ngSubmit)="submitQuestion()">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">
            {{ creating ? "Create" : "Edit" }} a question.
          </h4>
          <span class="close" data-dismiss="modal">×</span>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <label>Question</label><textarea formControlName="details" size="30" rows="4" ></textarea>
          <!-- {{ emoji | safeHtml }} -->
          <div *ngIf="!creating">
            <label>Creator</label><input formControlName="creator" />
            <label>Checker</label><input formControlName="checker" />
          </div>

          <p>
            <label>Circle {{ questionForm.get("circle").value.name }}</label>
            <select [formControlName]="'circle'" (change)="selectedCircle('freeky')" >
              <option [ngValue]="null" disabled>Choose a circle</option>
              <option [ngValue]="qC1.id" value="qC1.name" *ngFor="let qC1 of questionCircles; trackBy: customTrackBy" >
                {{ qC1.name }}
              </option>
            </select>
          </p>

          <p>
            Type
            <select [formControlName]="'type'" (change)="selectedType('qType.value')">
              <option *ngFor="let qT1 of questionTypes">{{ qT1 }}</option>
            </select>
          </p>

          <p>Correct Answer <input formControlName="answer1" /></p>
          <!-- {{ questionForm.get('type').value }} -->
          <ng-container *ngIf="questionForm.get('type').value === 'multiple' || questionForm.get('type').value === 'poll'" >
            <p>Answer 2 <input formControlName="answer2" /></p>
            <p>Answer 3 <input formControlName="answer3" /></p>
            <p>Answer 4 <input formControlName="answer4" /></p>
            <p>Answer 5 <input formControlName="answer5" /></p>
            <p>Answer 6 <input formControlName="answer6" /></p>
          </ng-container>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-warn" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
