<div class="d-flex justify-content-center ">
  <button class="btn btn-info" (click)="menuChange('circles')">Circles</button>
  <button class="btn btn-info" (click)="menuChange('manage-questions')">Manage</button>
  <button class="btn btn-info" (click)="menuChange('questions')">Questions</button>
  <button class="btn btn-info" (click)="menuChange('answer')">Answer</button>
  <button class="btn btn-info" (click)="menuChange('profile')">Profile</button>
  <button class="btn btn-info" (click)="logout();" title="LOGOUT" >X</button>
</div>
<br>

