  <div class="navbar">
    <ul>
      <li>
        <button class="btn btn-info" (click)="menuChange('circles')">Circles</button>
      </li>

      <li>
        <button class="btn btn-info" (click)="menuChange('manage-questions')">Manage</button>
      </li>

      <li>
        <button class="btn btn-info" (click)="menuChange('questions')">Questions</button>
      </li>

      <li>
        <button class="btn btn-info" (click)="menuChange('answer')">Answer</button>
      </li>

      <li>
        <button class="btn btn-info" (click)="menuChange('profile')">Profile</button>
      </li>

      <li>
        <button class="btn btn-info" (click)="logout();" title="LOGOUT" >X</button>
      </li>

    </ul>
  </div>
<br>

